<script src="<%- baseUrl %><%= baseUrl.endsWith('/') ? '' : '/' %>dir-index.js" async defer></script>

<%- include(`../partials/pills`, { pills }); %>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">size</th>
                <th scope="col">time</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item=> { %>
            <tr>
                <td>
                    <a class="<% if (item.isDir) { %>text-dark<% } %>" href="<%- item.link %>">
                        <span class="text-warning"><% if (item.isDir) { %><%- include(`../icons/folder`); %><% } %></span>
                        <%=item.name%>
                    </a>
                </td>
                <td data-dir-index-size="<%= item.size %>"></td>
                <td data-dir-index-time="<%= item.time %>"></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
