<script src="<%- baseUrl %><%= baseUrl.endsWith('/') ? '' : '/' %>media-player.js" async defer></script>

<style>
    video { width: 100%; height: 100%; background-color: #000; }
    video::cue {
        color:yellow;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        background-color: transparent;
    }
    .media-w-xs video::cue,
    .media-w-sm video::cue { font-size: 2rem !important; }
    .media-w-md video::cue { font-size: 3rem !important; }
    .media-w-lg video::cue,
    .media-w-xl video::cue,
    .media-w-xxl video::cue { font-size: 4rem !important; }
    .header { z-index: 999; }
    .fullscreen .header { z-index: -999; }
</style>

<div class="header opacity-75 position-fixed d-inline-flex align-items-center">
    <a class="btn border-0 text-danger" href="<%- cd %>"><%- include(`../icons/x-lg`); %></a>
    <% if (prev) { %><a class="btn border-0 text-light" href="<%- prev %>"><%- include(`../icons/caret-left`); %></a><% } %>
    <% if (next) { %><a class="btn border-0 text-light" id="next-media" href="<%- next %>"><%- include(`../icons/caret-right`); %></a><% } %>
    <span class="text-nowrap overflow-hidden text-light ps-2"><%= title %></span>
</div>

<video controls autoplay preload="metadata" class="position-fixed">
    <source type="<%- mimeType %>" src="<%- urlPath %>" />
    <% subtitles.forEach((subtitle, index) => { %>
        <track src="<%- subtitle.link %>" kind="subtitles" label="<%- subtitle.name %>" <% if (index === 0) { %>default<% } %> />
    <% }); %>
</video>
