<script src="<%- baseUrl %><%= baseUrl.endsWith('/') ? '' : '/' %>media-player.js" async defer></script>

<style>
    video { width: 100%; height: 100%; background-color: #000; }
    video::cue {
        color:yellow;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        background-color: transparent;
    }
    .media-w-xs video::cue,
    .media-w-sm video::cue { font-size: 2rem !important; }
    .media-w-md video::cue { font-size: 3rem !important; }
    .media-w-lg video::cue,
    .media-w-xl video::cue,
    .media-w-xxl video::cue { font-size: 4rem !important; }
    .header { z-index: 999; }
    .fullscreen .header { z-index: -999; }
    .playlist { z-index: 999; top: 50%; left: 50%; transform: translate(-50%, -50%); list-style: none; }
</style>

<div class="header opacity-75 position-fixed d-inline-flex align-items-center">
    <a class="btn border-0 text-danger" href="<%- cd %>"><%- include(`../icons/x-lg`); %></a>
    <% if (playlist.find(p => p.list === "prev")) { %><span data-prev-btn class="btn border-0 text-light"><%- include(`../icons/caret-left`); %></span><% } %>
    <% if (playlist.find(p => p.list === "next")) { %><span data-next-btn class="btn border-0 text-light"><%- include(`../icons/caret-right`); %></span><% } %>
    <span class="text-nowrap overflow-hidden text-light ps-2"><%= title %></span>
</div>

<ul class="position-fixed overflow-hidden d-none playlist">
    <% playlist.forEach((media, index) => { %>
        <li class="text-nowrap">
            <% if(media.list == "current") { %>
                <%- index+1 %>. <%- media.name %>
            <% } else { %>
               <a href="<%- media.link %>"
                    <% if (media.list == "prev") { %>data-prev-media<% } %>
                    <% if (media.list == "next") { %>data-next-media<% } %>
                ><%- index+1 %>. <%- media.name %></a>
            <% } %>
        </li>
    <% }); %>
</ul>

<video controls autoplay preload="metadata" class="position-fixed">
    <source type="<%- mimeType %>" src="<%- urlPath %>" />
    <% subtitles.forEach((subtitle, index) => { %>
        <track src="<%- subtitle.link %>" kind="subtitles" label="<%- subtitle.name %>" <% if (index === 0) { %>default<% } %> />
    <% }); %>
</video>
