<nav class="navbar sticky-top bg-light">
    <div class="container justify-content-start">
        <% pills.forEach(pill=> { %><a class="badge text-bg-secondary me-1 mb-1" href="<%- pill.link %>"><%- pill.name %></a><% }); %>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">size</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach(item=> { %>
        <tr>
            <td>
                <a href="<%- item.parent === ''
                    ? encodeURIComponent(item.name)
                    : item.parent.split(/[\\/]/g).concat(item.name).map(p => encodeURIComponent(p)).join('/')
                %>">
                    <% if (item.isDir) { %><%- include(`../icons/folder.svg`); %><% } %>
                    <%=item.name%>
                </a>
            </td>
            <td><%= item.size %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
