<script src="/video.js" async defer></script>

<style>
    body { background-color: black; }
    video { outline: none; width: 100%; height: 100%; }
    video::cue { color:yellow; background-color: rgba(0,0,0,0.25); font-size: 3rem !important; }
    .video { position: fixed; left: 0; right: 0; top: 0; bottom: 0; }
    .video-b { bottom: 2rem; }
</style>

<%- include(`../partials/pills`, { pills, dark: true }); %>

<div class="video <% if (prev || next) { %>video-b<% } %>">
    <video controls autoplay preload="metadata">
        <source type="<%- mimeType %>" src="<%- relativePath %>?static=true" />
        <track src="<%- subtitlePath %>" kind="subtitles" default label="English" srclang="en" />
    </video>
    <div class="opacity-50 text-center">
        <% if (prev) { %><a class="pe-1" href="<%- prev %>"><< prev</a><% } %>
        <% if (next) { %><a id="next-media" class="ps-1" href="<%- next %>">next >></a><% } %>
    </div>
</div>
